<header class="container">
  <img src="assets/ic-logo.svg" (click)="goHome()" alt="wallet-logo" />
  <img src="assets/logo_govgr_pos.svg" alt="govgr-logo" style="height: 48px; width: auto; min-width: 0; object-fit: contain; align-self: center; margin: 0 auto 0 16px;" />

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a id="inspectLogs" mat-menu-item (click)="inspectLogs()"
      >Inspect transaction logs</a
    >
    <a id="issuerChain" mat-menu-item (click)="changeIssuerChain()"
      >Configure issuer chain</a
    >
  </mat-menu>
</header>
